<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$titlename}</title>
</head>
<body>

{$uid}<br>
<!--注意符号$-->

{include file='smarty_function.html'}

============================================================<br>
<h4>foreach</h4><br>
{foreach from=$nokey item=id }
{$id}<br>
{/foreach}

<h4>foreach 有键值的</h4><br>
{foreach from=$key item=id key=wordkey}
{$wordkey}-{$id}<br>
{/foreach}

============================================================<br>

{$titlename|capitalize}<p>首字母大写</p>
============================================================<br>
{$titlename|wordwrap:10:'<br>'}<p>首字母大写</p>
============================================================<br>
{$titlename|count_characters}<p>计算字符数</p>
============================================================<br>
{$titlename|cat:"++字符串++"}<p>链接字符串</p>
============================================================<br>
{$smarty.now|date_format:'%y-%m-%d'}<p>时间显示</p>
============================================================<br>
{$titlename1|default:'当变量为定义时的默认字符串'}<p>默认</p>
============================================================<br>
{$titlename|escape:'url'}<p>转码有三个参数html，url，htmlall</p>
============================================================<br>
{$titlename|indent:10:'.'}<p>缩进，可以加参数选择缩进内容</p>
============================================================<br>
{$titlename|replace:'smarty':'**'}<p>可替换不想出现的字符</p>
============================================================<br>
{$titlename|spacify:'_'}<p>插空，无参数时为空，可插入参数</p>
============================================================<br>
{$titlename|string_format:'%s'}<p>字符串格式</p>
============================================================<br>
{$titlename|strip:'_'}<p>无参数时可将单词间的空格去除，加参数是将空格替换成参数</p>
============================================================<br>
{$titlename|truncate:5:'..'}<p>截取，规定只能显示的内容长度，参数是代替多出来的内容</p>



</body>
</html>